/* body */

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.container {}


/* header image */

#header-img {
  width: 100%;
}

/* navbar */

#main-nav {
  margin: 0;
  border-radius: 0;
  border-color: #414141;
  padding: 0;
  background-color: #414141;
}

.navbar-brand {
  padding: 0;
  border: 0;
  margin-left: 0;
}

#logo {
  height: 100%;
}

/* festival list */

.festival {
  background-color: #414141;
}

.festival-name {
  width: 25%;
}

.festival-location {
  width: 25%;
}

.festival-date {
  text-align: right;
}
