/* custom fonts */

@font-face {
    font-family: "TMSans-Regular";
    src: url("../fonts/TMSans-Regular.ttf");
}

@font-face {
    font-family: "TMSans-Light";
    src: url("../fonts/TMSans-Light.ttf");
}

@font-face {
    font-family: "TMSans-Italic";
    src: url("../fonts/TMSans-Italic.ttf");
}

@font-face {
    font-family: "TMSans-Bold";
    src: url("../fonts/TMSans-Bold.ttf");
}

@font-face {
    font-family: "InterstateWGL-Bold";
    src: url("../fonts/InterstateWGL-Bold.ttf");
}

@font-face {
    font-family: "InterstateWGL-Black";
    src: url("../fonts/InterstateWGL-Black.ttf");
}

body {
    font-family: "TMSans-Regular";
}


/* body */

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.container {}


/* header image */

#header-img {
    width: 100%;
}


/* navbar */

#main-nav {
    margin: 0;
    border: 0px;
    border-radius: 0px;
    padding: 0;
    background-color: rgba(65, 65, 65, 0.9);
    transform: translateY(-50px);
}

.navbar-brand {
    padding: 0;
    border: 0;
    margin-left: 0;
}

#logo {
    height: 100%;
}


/* festival list */

.container {}

.content {
    background-image: url("../img/ticketmaster_bkg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 0px 0px 170px 0px;
    transform: translateY(-75px);
}

.list-header {
    font-family: "InterstateWGL-Bold";
    color: aliceblue;
    text-align: center;
    padding: 36px 0px 36px 0px;
}

#festival-list {
    display: inherit;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    width: 600px;
}

.list-item {
    position: relative;
    display: block;
    padding: 5px 10px 5px 10px;
}

.festival {
    background-color: rgba(65, 65, 65, 0.9);
    margin: 5px;
    border-radius: 4px;
    border: 0px;
    border-color: none;
    height: 30px;
}

.festival-name {
    font-family: "TMSans-Bold";
    color: aliceblue;
    width: 25%;
    font-size: 15px;
}

.festival-location {
    color: aliceblue;
    width: 25%;
    font-family: "TMSans-Italic";
    font-size: 12px;
}

.festival-date {
    color: aliceblue;
    text-align: right;
    font-family: "TMSans-Bold";
    float: right;
    margin-top: 1px;
}


/* image-viewer*/

#image-viewer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.5));
    height: 150px;
    padding: 10px;
}

.image-box {
    display: inline-block;
    font-size: 10px;
    font-family: "TMSans-Italic";
    width: 160px;
    height: 120px;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.image-name {
    color: aliceblue;
    position: absolute;
    top: 90px;
    left: 20px;
    width: 75%;
    background: linear-gradient(rgba(65, 65, 65, 0.0), rgba(65, 65, 65, 0.9));
}
